<div class="b-margined3">
    <radio-by-entity [items]="ll" [(value)]="selectedLang" visibleField="slug" [title]="thelang.words['common-lang']+':'"></radio-by-entity>
</div>
<div class="generic-form">
    <div class="gf-param b-margined3" *ngIf="x.id">
        <div class="gfp-title b-margined1"><label>ID</label></div>
        <div class="gfp-inputwrap"><input class="small" type="text" [value]="x.id" disabled></div>
    </div>
    <div class="gf-param b-margined3">
        <div class="gfp-title b-margined1"><label [class.required]="isRequired('name')">{{thelang.words['baxers-name']}}</label></div>
        <div class="gfp-inputwrap"><input type="text" [(ngModel)]="x.name" [class.error]="errors.name"></div>
        <div class="gfp-error" *ngIf="errors.name">{{thelang.words[errors.name]}}</div>
    </div>
    <div class="gf-param b-margined3">
        <div class="gfp-title b-margined1"><label [class.required]="isRequired('link')">{{thelang.words['baxers-link']}} ({{selectedLang.slug}})</label></div>
        <div class="gfp-inputwrap"><input type="text" [dir]="selectedLang.dir" [(ngModel)]="x.translation(selectedLang.id).link" [class.error]="errors.link"></div>            
        <div class="gfp-error" *ngIf="errors.link">{{thelang.words[errors.link]}}</div>
    </div> 
    <div class="gf-param b-margined3">
        <div class="gfp-title b-margined1"><label [class.required]="isRequired('img')">{{thelang.words['baxers-img']}} ({{selectedLang.slug}})</label></div>
        <div class="gfp-inputwrap"><image-picker folder="baxers" [(img)]="x.translation(selectedLang.id).img" [error]="errors.img"></image-picker></div>
        <div class="gfp-error" *ngIf="errors.img">{{thelang.words[errors.img]}}</div>
    </div>    
    <div class="gf-param b-margined3">
        <div class="gfp-title b-margined1"><label [class.required]="isRequired('pos')">{{thelang.words['baxers-pos']}}</label></div>
        <div class="gfp-inputwrap"><input class="small" type="number" [(ngModel)]="x.pos" [disabled]="x.defended" [class.error]="errors.pos"></div> 
        <div class="gfp-error" *ngIf="errors.pos">{{thelang.words[errors.pos]}}</div>   
    </div>    
    <div class="gf-param">
        <div class="gfp-title b-margined1"><label>{{thelang.words['baxers-active']}}</label></div>
        <div class="gfp-inputwrap"><check-box [(value)]="x.active" [disabled]="x.defended"></check-box></div>
    </div>
</div>
