<div class="page-head">
  <div class="ph-title">
    <div class="ph-h1">{{thelang.words["users-head"]}}</div>
    <div class="ph-h2">
      {{thelang.words["common-length"]}}: {{elementsQuantity}}
    </div>
  </div>
  <div class="ph-dash" *ngIf="ready">
    <div
      class="ph-btn roundbtn violet filter"
      [class.red]="filterActive"
      (click)="filterActive = !filterActive"
      [title]="thelang.words['common-filter']"
    >
      <span></span>
    </div>
    <div
      class="ph-btn roundbtn violet create"
      routerLink="{{homeUrl}}/create"
      [title]="thelang.words['common-create']"
    >
      <span></span>
    </div>
    <div
      class="ph-btn roundbtn red delete"
      [class.disabled]="!canBulk"
      (click)="deleteBulk()"
      [title]="thelang.words['common-deleteselected']"
    >
      <span></span>
    </div>
  </div>
  <div class="ph-loader" [class.active]="!ready || reloading"></div>
</div>

<div class="list">
  <div class="l-wrap">
    <ng-container *ngIf="ready">
      <div class="l-filter" *ngIf="filterActive">
        <form class="generic-form" (submit)="filterApply()">
          <div class="gf-subhead b-margined3">
            {{thelang.words['common-filter']}}
          </div>
          <div class="gf-param b-margined3">
            <div class="gf-title b-margined1">
              {{thelang.words['users-email']}}
            </div>
            <div class="gfp-inputwrap">
              <input type="text" name="email" [(ngModel)]="filter.email" />
            </div>
          </div>
          <div class="gf-param b-margined3">
            <div class="gf-title b-margined1">
              {{thelang.words['users-name']}}
            </div>
            <div class="gfp-inputwrap">
              <input type="text" name="name" [(ngModel)]="filter.name" />
            </div>
          </div>
          <div class="gf-param b-margined3">
            <div class="gf-title b-margined1">
              {{thelang.words['users-tg-username']}}
            </div>
            <div class="gfp-inputwrap">
              <input
                type="text"
                name="tg_name"
                [(ngModel)]="filter.tg_username"
              />
            </div>
          </div>
          <div class="gf-param b-margined3">
            <div class="gf-title b-margined1">
              {{thelang.words['users-parent']}}
            </div>
            <div class="gfp-inputwrap">
              <select-simple
                [(value)]="filter.parent_id"
                field="email"
                entity="user"
                sortBy="email"
                [useSearch]="true"
                [useNull]="true"
                [useUndefined]="true"
              ></select-simple>
            </div>
          </div>
          <div class="gf-param b-margined3">
            <div class="gf-title b-margined1">
              {{thelang.words['users-referrer']}}
            </div>
            <div class="gfp-inputwrap">
              <select-simple
                [(value)]="filter.referrer_id"
                field="email"
                entity="user"
                sortBy="email"
                [useSearch]="true"
                [useNull]="true"
                [useUndefined]="true"
              ></select-simple>
            </div>
          </div>
          <div class="gf-param b-margined3">
            <div class="gf-title b-margined1">
              {{thelang.words['common-from']}}
            </div>
            <div class="gfp-inputwrap">
              <timestamp-picker
                [(value)]="filter.from"
                [useTime]="true"
                [resetable]="true"
                [resetvalue]="undefined"
              ></timestamp-picker>
            </div>
          </div>
          <div class="gf-param b-margined3">
            <div class="gf-title b-margined1">
              {{thelang.words['common-to']}}
            </div>
            <div class="gfp-inputwrap">
              <timestamp-picker
                [(value)]="filter.to"
                [useTime]="true"
                [resetable]="true"
                [resetvalue]="undefined"
              ></timestamp-picker>
            </div>
          </div>
          <div class="gf-2btnswrap">
            <button type="submit">{{thelang.words['common-apply']}}</button>
            <button
              type="button"
              class="danger"
              (click)="filterReset()"
              [disabled]="!filterChanged"
            >
              {{thelang.words['common-reset']}}
            </button>
          </div>
        </form>
      </div>
      <table>
        <tr class="no-selection">
          <th class="compact">
            <check-box
              [(value)]="allSelected"
              (valueChange)="onSelectAll()"
            ></check-box>
          </th>
          <th class="compact">
            <label
              [class.sorted-forward]="sortBy === 'id' && sortDir === 1"
              [class.sorted-backward]="sortBy === 'id' && sortDir === -1"
              (click)="changeSorting('id')"
              >ID</label
            >
          </th>
          <th>
            <label
              [class.sorted-forward]="sortBy === 'created_at' && sortDir === 1"
              [class.sorted-backward]="sortBy === 'created_at' && sortDir === -1"
              (click)="changeSorting('created_at')"
              >{{thelang.words['users-created-at']}}</label
            >
          </th>
          <th>
            <label
              [class.sorted-forward]="sortBy === 'email' && sortDir === 1"
              [class.sorted-backward]="sortBy === 'email' && sortDir === -1"
              (click)="changeSorting('email')"
              >{{thelang.words['users-email']}}</label
            >
          </th>
          <th>
            <label
              [class.sorted-forward]="sortBy === 'name' && sortDir === 1"
              [class.sorted-backward]="sortBy === 'name' && sortDir === -1"
              (click)="changeSorting('name')"
              >{{thelang.words['users-name']}}</label
            >
          </th>
          <th>
            <label
              [class.sorted-forward]="sortBy === 'tg_username' && sortDir === 1"
              [class.sorted-backward]="sortBy === 'tg_username' && sortDir === -1"
              (click)="changeSorting('tg_username')"
              >{{thelang.words['users-tg-username']}}</label
            >
          </th>
          <th>{{thelang.words['users-parent']}}</th>
          <th>{{thelang.words['users-referrer']}}</th>
          <th>{{thelang.words['users-active']}}</th>
          <th>{{thelang.words['common-actions']}}</th>
        </tr>
        <ng-container *ngIf="xl.length">
          <tr *ngFor="let x of xl">
            <td>
              <check-box
                *ngIf="!x.defended"
                [(value)]="x.__selected"
                (valueChange)="onSelect()"
              ></check-box>
            </td>
            <td>{{x.id}}</td>
            <td>{{x.formattedDate('created_at', true)}}</td>
            <td>{{x.email}}</td>
            <td>{{x.name}}</td>
            <td>{{x.tg_username}}</td>
            <td>
              <div class="inputwithbtns reverse">
                <span>{{x.parent?.email}}</span>
                <div *ngIf="x.parent_id" class="iwb-btns">
                  <a
                    class="roundbtn link"
                    target="_blank"
                    href="/users/edit/{{x.parent_id}}"
                    ><span></span
                  ></a>
                </div>
              </div>
            </td>
            <td>
              <div class="inputwithbtns reverse">
                <span>{{x.referrer?.email}}</span>
                <div *ngIf="x.referrer_id" class="iwb-btns">
                  <a
                    class="roundbtn link"
                    target="_blank"
                    href="/users/edit/{{x.referrer_id}}"
                    ><span></span
                  ></a>
                </div>
              </div>
            </td>
            <td>
              <check-box
                [(value)]="x.active"
                (valueChange)="updateParam(x, 'active')"
              ></check-box>
            </td>
            <td>
              <div class="l-actions">
                <a
                  class="roundbtn edit"
                  [title]="thelang.words['common-edit']"
                  routerLink="{{homeUrl}}/edit/{{x.id}}"
                  ><span></span
                ></a>
                <a
                  class="roundbtn danger delete"
                  [title]="thelang.words['common-delete']"
                  *ngIf="!x.defended"
                  (click)="delete(x.id)"
                  ><span></span
                ></a>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="!xl.length">
          <tr>
            <td>{{thelang.words['common-empty']}}</td>
          </tr>
        </ng-container>
      </table>
    </ng-container>
  </div>
  <div class="l-foot">
    <pagination
      [n]="pagesQuantity"
      [(current)]="part"
      (currentChange)="initList(true)"
    ></pagination>
  </div>
  <div class="l-loading" [class.active]="reloading"></div>
</div>
